@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&display=swap');

@import 'tailwindcss';

@theme {
  --color-primary: #0DA6E1;
  --color-primary-dull: #0e90c4
}

input, select, textarea{
  outline: 0;
}

button{
  cursor: pointer;
}

a.active{
  background-color: #4880FF;
  color: white;
}

.MuiDataGrid-row{
  padding-block: 5px;
}

.MuiDataGrid-row:hover{
  background-color: transparent !important;
}

.MuiDataGrid-cell{
  border: 0 !important;
  outline: 0 !important;
}